PORT=4000
NODE_ENV=development
MONGODB_URI=mongodb://localhost:27017/menu-sass
JWT_SECRET=change_me_in_production
JWT_REFRESH_SECRET=change_me_too_in_production
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
SEED_ADMIN_NAME=Super Admin
SEED_ADMIN_EMAIL=super@cafe.com
SEED_ADMIN_PASSWORD=admin123456