PORT=4000
NODE_ENV=development
MONGODB_URI=mongodb://localhost:27017/menu-sass
JWT_SECRET=change_me_in_production
JWT_REFRESH_SECRET=change_me_too_in_production
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
CLIENT_URL=http://localhost:3000,https://your-app.vercel.app
SEED_ADMIN_NAME=Super Admin
SEED_ADMIN_EMAIL=danieltsega6658@gmail.com
SEED_ADMIN_PASSWORD=password123
